@page
@model WebApplicationFelix.Pages.CommunicationModel
@{
}
<h1>Contact us!</h1>
<p>We are always glad to hear from you!</p>
<p>
    <a href="mailto:felix5mars@hotmail.ca?subject=Suggestion%20or%20Question">Send us an email</a>
    and let us know if you have any comments, suggestion, questions you would like to share with us.
</p>
<p>Sincerely, The EkoRun Team</p>