@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to EkoRun!</h1>
    <p>The running shoe company that cares about the environment and performance.</p>
   
</div>
