@page
@model WebApplicationFelix.Pages.SustainabilityModel
@{
}

<h1>Sustainability</h1>

<p>Here, at EkoRun, we are committed to bring runners all over the world the best selection of sustainable running shoes.</p>
<p>Today, the shoe industry is responsible for 1.4% of global CO2 emissions.
We believe in a change in the industry where we can build low carbon footprint shoes
and encourage the reuse or recycling of shoes instead of putting them in landfills.</p>
<p>To check our selection of shoes click <a asp-page="/Shoes/Shoe">here</a>.</p>