@page "{shoeId}"
@model WebApplicationFelix.Pages.Shoes.DeleteModel
@{
    ViewData["Title"] = "Delete";
}
<!DOCTYPE html>

<h2>Delete!</h2>
<div class="alert alert-danger">
    Are you sure you want to delete @Model.Shoe.name?
</div>
<form method="post">
    <button type="submit" class="btn btn-danger">Yes!</button>
    <a asp-page="Shoe" class="btn btn-default">Cancel</a>
</form>
